[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pydantic = {extras = ["email"], version = "*"}
sqlalchemy = "*"
psycopg2 = "*"
fastapi = "*"
passlib = {extras = ["bcrypt"], version = "*"}
bcrypt = "*"
python-jose = {extras = ["cryptography"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
